---
import Badge from "./Badge.astro";
import DownloadFile from "../../src/icons/DownloadFile.astro";
import Linkedin from "../../src/icons/Linkedin.astro";
import Github from "../../src/icons/Github.astro";
---

<section class="w-full mx-auto py-48 text-center px-8 lg:w-[700px]">
  <h3 class="text-white text-3xl font-bold">
    Hola, Soy <span
      class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-[#FF0028] to-[#757070]"
      >Manuel Perez</span
    >
  </h3>
  <div class="flex justify-center gap-2 mt-3">
    <h2>Full Stack Developer</h2>
    <a href="https://www.linkedin.com/in/manuelperezf/" target="_blank">
      <Badge text="Open for Work" />
    </a>
  </div>
  <p class="text-pretty my-10 text-white">
    Soy un desarrollador web full stack
    <span class="text-[#ff4864]">con experiencia en soporte TI y Redes,</span>
    donde aprendi a trabajar en equipo y a resolver problemas de manera rapida y
    eficiente. Me encanta aprender nuevas tecnologias y mejorar mis habilidades.
  </p>
  <div class="flex flex-wrap justify-center lg:justify-between gap-3 mt-4">
    <div class="flex gap-2">
      <a href="https://www.linkedin.com/in/manuelperezf/" target="_blank">
        <button
          type="button"
          class="flex gap-1 text-white bg-[#1E1C23] hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-[#FF0028] font-medium rounded-lg px-2 py-2"
        >
          <Linkedin />
          LinkedIn
        </button>
      </a>
      <a href="https://github.com/manu4970" target="_blank">
        <button
          type="button"
          class="flex gap-1 text-white bg-[#1E1C23] hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-[#FF0028] font-medium rounded-lg px-2 py-2"
        >
          <Github />
          GitHub
        </button>
      </a>
    </div>
    <div>
      <a href="
          ">
        <button
          id="downloadButton"
          class="text-white bg-gradient-to-l from-[#FF0028] to-[#1E1C23] px-4 py-2 rounded-md flex gap-2"
        >
          Descargar CV
          <DownloadFile />
        </button>
      </a>
    </div>
  </div>
</section>

<script>
  document
    .getElementById("downloadButton")
    .addEventListener("click", function () {
      var pdfFilePath = "https://manuelperezf.com/download/Manuel_Perez_CV.pdf";
      var link = document.createElement("a");
      link.href = pdfFilePath;

      link.download = "Manuel_Perez_CV.pdf";

      document.body.appendChild(link);

      link.click();

      document.body.removeChild(link);
    });
</script>
