---
import Badge from "./Badge.astro";
---

<section class="w-full mx-auto lg:w-[700px] py-32">
  <h1 class="text-white text-xl font-bold">Hola, Soy Manuel Perez</h1>
  <div class="flex gap-2 items-start mt-2">
    <h2 class="mb-4">Full Stack Developer</h2>
    <a href="https://www.linkedin.com/in/manuelperezf/">
      <Badge text="Open for Work" />
    </a>
  </div>
  <p>
    Apasionado por la tecnología y Desarrollador Full Stack con una sólida
    formación en Resolución de problemas. Cuento con experiencia en soporte TI y
    Redes. Posteriormente me especialicé en desarrollo web, adquiriendo
    habilidades destacadas tanto en el frontend como en el backend. Con una
    dedicación constante para encontrar soluciones creativas, estoy entusiasmado
    por aceptar nuevos desafíos en la industria tecnológica en constante
    evolución
  </p>
</section>
